* {

}


body {
    font-family: 'Work Sans', sans-serif, Times;
    font-size: 1.1em;
    line-height: 1.5;
}

.background {
    background-image: url('bg-color-full.png');
    background-repeat: no-repeat, repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 120%;
}

a{
    font-size: 1.2em;
    font-weight: 600;
}

a:link{
    text-decoration: none;
    color:black;
}

a:visited{
    color: black;
    text-decoration: none;
}

h1{
    font-size: 2.5em;
    margin-top: 10px;
}

h2 {
    font-size: 1.7em;
    margin: 10px 0 10px 0;
    line-height: 1.2em;
    color: red;
}


.paragraph {
    color: deepskyblue;
}



/***********************************************Header****************************************************/

header {
    grid-area: header;
    margin-top: 20px;
    width:100%;
}

.logo {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: None;
    margin-top: 50px;
}
.nav-li{
    padding-right: 4rem;
}
.nav-li:hover{
    color: rgb(182, 157, 248);
    transition: 0.3s;
}




/***********************************************Main****************************************************/


.rectangle {
    border: solid white 16px;
    margin: 0 100px 0 100px;
    padding: 30px 60px 30px 60px;
}

main {
    margin-top: 100px;
}


/***********************************************Footer****************************************************/

footer {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.3);;

    padding: 20px 80px 20px 80px;

}