* {

}


body {
    font-family: 'Work Sans', sans-serif, Times;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 300;
    color:black;
}

.background {
    background-image: url('bg-color-full.png');
    background-repeat: no-repeat, repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 120%;
}

a{
    font-size: 1.2em;
    font-weight: 600;
}

a:link{
    text-decoration: none;
    color:black;
}

a:visited{
    color: black;
    text-decoration: none;
}

h1{
    font-size: 2.3em;
    margin-top: 10px;
}

h2 {
    font-size: 1.7em;
    margin: 10px 0 10px 0;
    line-height: 1.2em;
}

.lead{
  font-size: 1.2em;
}

.paragraph {
    color: deepskyblue;
}



/***********************************************Header****************************************************/

header {
    grid-area: header;
    margin-top: 20px;
    width:100%;
}

.logo {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: None;
    margin-top: 50px;
}
.nav-li{
    padding-right: 4rem;
}
.nav-li:hover{
    color: rgb(182, 157, 248);
    transition: 0.3s;
}




/***********************************************Main****************************************************/


.rectangle {
    border: solid white 16px;
    margin: 0 15% 0 15%;
    padding: 30px 60px 30px 60px;
}

main {
    margin-top: 100px;
}

/***********************************************Home****************************************************/

.home{
  text-align: center;
}

.teaser-container{
  display: flex;
  flex-direction: row;
}

.teaser{
  display: block;
  width: 33%;
  margin: 20px 20px 0 20px;
}

.diamond {
  margin: 40px 0 60px 0;
	width: 160px;
	height: 160px;
	transform: rotate(45deg);
	outline: 1px solid black;
	overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.diamond img {
	max-height: 250%;
	transform: rotate(-45deg);
	margin: -60%;
	/*z-index: -1;*/
	/*position: relative;*/
}

.teaser-text{
  margin: 20px 20px 20px 20px;

}

/***********************************************Footer****************************************************/

footer {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.3);;

    padding: 20px 80px 20px 80px;

}
